apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
      - name: todo-files
        persistentVolumeClaim:
          claimName: todo-app-pvc
      containers:
      - name: todo-app
        image: vcapile/todo-app:1.13
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        volumeMounts:
        - name: todo-files
          mountPath: /usr/src/app/files
